<div id="<%= dom_id quote %>">
  <p>
    <strong>Text:</strong>
    <%= quote.text %>
  </p>

  <p>
    <strong>Pub year:</strong>
    <%= quote.pub_year %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= quote.comment %>
  </p>

  <p>
    <strong>Is public:</strong>
    <%= quote.is_public %>
  </p>

  <p>
    <strong>User:</strong>
    <%= quote.user_id %>
  </p>

  <p>
    <strong>Philosopher:</strong>
    <%= quote.philosopher_id %>
  </p>

</div>
