<!--Search Form-->
<h3 style="padding-top: 10px;">Search for quotes by category</h3>

<!-- This form sends a GET request to the search path. The purpose is to allow users to select a category and then find the relevant quotes for that category. -->
<%= form_tag search_path, method: :get do %>
  <div class="form-group" style="padding-bottom: 10px;">
    <!-- This dropdown contains all available categories for selection. The selected category ID is used as the search parameter. -->
    <%= select_tag :category_query, options_from_collection_for_select(@all_categories, "id", "category", params[:category_query]), prompt: "Select a category", class: "form-control" %>
  </div>
  <!-- User can submit the form with this button -->
  <%= submit_tag 'Search Quotes', class: "btn btn-primary" %>
<% end %>

<!-- Display search results -->
<% if params[:category_query].present? %>
  <!-- Check if there are any matching quotes for the selected category -->
  <% if @category_match && @category_match.any? %>
    <h4 style="padding-top: 15px;">Results:</h4>
    <!-- Loop through each quote that matches the selected category and display them -->
    <% @category_match.each do |quote| %>
      <ul>
        <!-- Display a truncated version of the quote's text. If the user wants to read the full quote, they can click the provided link -->
        <li>
          <%= truncate(quote.text, length: 100) %> 
          by <%= quote.philosopher.fname %> <%= quote.philosopher.lname %> 
          [<a href="/quotes/<%= quote.id %>">Read full quote</a>]
        </li>
      </ul>
    <% end %>
    
  <!-- If there were no quote foound-->
  <% else %>
    <p>No quotes found for the selected category.</p>
    <p>Be the first to <%= link_to "add a quote ", new_quote_path %> for this category!</p>
  <% end %>
<% end %>