<!-- The MyQuote homepage -->

<% if flash[:error] %>
  <p class="error" style="color:red;"><%= flash[:error] %></p>
<% end %>

<h1>MyQuote</h1>

<p>Cultivating Wisdom, One Quote at a Time.</p>

<h2>Quote of the Day</h2>
<hr />
<!-- Card displaying the quote of the day -->
<div class="card bg-body-primary" style="margin-bottom:20px">
  <div class="card-body">
    <!-- Display the text of the quote of the day -->
    <h4 class="card-title"><%= @quote_of_the_day.text %></h4>
    <p class="card-text">
      <!-- Display the first name of the philosopher for the quote of the day -->
      <%= @quote_of_the_day.philosopher.fname %>
      
      <!-- Check if the philosopher has a last name and display it if present -->
      <% if @quote_of_the_day.philosopher.lname.present? %> 
        <%= " " + @quote_of_the_day.philosopher.lname %>
      <% end %>
      <br />
      
      <!-- Link to read the full details of the quote of the day -->
      [<a href="/quotes/<%= @quote_of_the_day.id %>">Read full quote</a>]
    </p>
  </div>
</div>

<h2>Recently Added Quotes</h2>
<hr />

<!-- Loop to display all recently added quotes -->
<% @recent_quotes.each do |quote| %> 
  <div class="card bg-body-tertiary" style="margin-bottom:10px">
    <div class="card-body">
      <!-- Display the text of the current quote in the loop -->
      <h4 class="card-title"><%= quote.text %></h4>
      <p class="card-text">
        <!-- Display the first name of the philosopher for the current quote -->
        <%= quote.philosopher.fname %>
        
        <!-- Check if the philosopher has a last name and display it if present -->
        <% if quote.philosopher.lname.present? %> 
          <%= " " + quote.philosopher.lname %>
        <% end %>
        <br />
        
        <!-- Link to read the full details of the current quote -->
        [<a href="/quotes/<%= quote.id %>">Read full quote</a>]
      </p>
    </div>
  </div>
<% end %>