<!-- This will display errors related to the Philosopher -->
<% if @philosopher.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @philosopher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @philosopher, url: philosophers_path, method: :post, local: true) do |f| %>

  <!-- Philosopher first name  -->
  <div class="form-group" style="padding-bottom: 10px;">
    <%= f.text_field :fname, placeholder: 'First Name', class: 'form-control' %>
  </div>

  <!-- Philosopher last name -->
  <div class="form-group" style="padding-bottom: 10px;">
    <%= f.text_field :lname, placeholder: 'Last Name', class: 'form-control' %>
  </div>

  <!-- Philosopher birth year  -->
  <div class="form-group" style="padding-bottom: 10px;">
    <%= f.number_field :birth_year, placeholder: 'Birth Year', class: 'form-control' %>
  </div>

  <!-- Philosopher death year  -->
  <div class="form-group" style="padding-bottom: 10px;">
    <%= f.number_field :death_year, placeholder: 'Death Year (leave blank if still alive)', class: 'form-control' %>
  </div>

  <!-- Philosopher biography  -->
  <div class="form-group" style="padding-bottom: 10px;">
    <%= f.text_area :biography, placeholder: 'Biography', class: 'form-control' %>
  </div>

  <!-- Create the submit button for the form -->
  <div class="mt-3">
    <%= f.submit 'Add Philosopher', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>