<div id="<%= dom_id philosopher %>">
  <p>
    <strong>First Name:</strong>
    <%= philosopher.fname %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= philosopher.lname %>
  </p>

  <p>
    <strong>Birth Year:</strong>
    <%= format_year(philosopher.birth_year) %>
  </p>
  
  <% if philosopher.death_year %>
    <p>
      <strong>Death Year:</strong>
      <%= format_year(philosopher.death_year) %>
    </p>
  <%end%>
  
  <p>
    <strong>Biography:</strong>
    <%= philosopher.biography %>
  </p>

</div>
